@font-face {
    font-family: 'Spongefont';
    src: url(../fonts/spongefont.ttf);
    font-style: normal;
    font-weight: normal;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow: hidden;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(../assets/background.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

body h1 {
    font-family: 'Spongefont';
    color: rgb(255,251,0);
    text-shadow:
    -1px -1px 0px black, 
    -1px 1px 0px black,                    
    1px -1px 0px black,                  
    1px 0px 0px black;
}

body header {
    position: absolute;
    align-items: flex-start;
    top: 15px;
    font-size: 30px;

}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 10rem;

}

.container .card {
    padding: 10px;
    width: 300px;
    margin: 20px;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    margin-top: 320px;
}

.container .card img {
    transition: 0.5s;
    width: 220px;
    cursor: pointer;
}


.container .card h1 {
    font-size: 2rem;
}

.container .card .content {
    padding: 0px;
    text-align: center;
    display: none;
    border-color: rgb(0, 0, 0);
    margin-top: 0;
}

.container .card:hover .content {
    display: block;
    text-align: center;

}

.container .card .content p {
    color:rgb(255, 238, 0);
    transition: 0.5s;
    text-shadow:
    -1px -1px 0px rgb(104, 104, 104), 
    -1px 1px 0px rgb(156, 156, 156),                    
    1px -1px 0px rgb(136, 136, 136),                  
    1px 0px 0px rgb(145, 145, 145);

}

.container .card .content a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(238, 255, 0);
    color: rgb(0, 132, 255);
    border-radius: 40px;
    text-decoration: none;
    transition: 0.5s;
    outline: none;
    margin-top: 5px;
    font-family: sans-serif;
    
}
.container .card .content a:hover {
    background-color: rgb(204, 218, 22);
    color:rgb(6, 175, 218)
}

.container .card:hover {
    background-color: rgba(0, 68, 255, 0);
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(0, 174, 255));
    color: white;
    box-shadow: 2px 20px 25px rgba(32, 210, 255, 0);
    border-color: rgb(251, 255, 0);
    margin-top: 0;
       
}
container .card:hover img {
    filter: invert(1)
}

container .card:hover p {
    color: rgb(255,251,0)
}

container .card:hover a:hover {
    background-color: rgb(2, 252, 252);
    color: rgb(245, 13, 13);
}